[Desktop Entry]
Type=Application
Exec=battery_mon.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name=battery_mon.desktop
Comment=Low battery alerts
X-GNOME-Autostart-Delay=15
