[Desktop Entry]
Type=Application
Exec=lock_screen_slideshow.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_GB]=lock_screen_slideshow.desktop
Comment[en_GB]=Start a background slideshow on screensaver activation
X-GNOME-Autostart-Delay=30
